/* SASS variables */
$primary-pink: hsl(322, 100%, 66%);
$primary-black: #000;
$primary-white: #fff;

$neutral-pale-cyan: hsl(193, 100%, 96%);
$neutral-very-dark-cyan: hsl(192, 100%, 9%);
$neutral-grayish-blue: hsl(208, 11%, 55%);

$heading-font: "Poppins", sans-serif;
$body-font: "Open Sans", sans-serif;

/* CSS reset */

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Main CSS */

body {
  font-size: 1.7rem;
  font-family: $body-font;
  line-height: 1.7;
}

.head {
  background-image: url(../images/bg-hero-desktop.svg);
  background-color: #edfbff;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 9rem;

  &-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;

    &__logo {
      height: 100%;
    }
  }

  &-bot {
    display: grid;
    grid-template-columns: 0.7fr 1fr;

    gap: 5rem;

    &__left {
      margin-top: 9rem;
    }

    &__left-heading {
      margin-bottom: 3rem;
      font-family: $heading-font;
    }

    &__left-text {
      margin-bottom: 2.3rem;
    }
  }

  &-img {
    max-width: 100%;
  }
}

.btn {
  border: none;
  padding: 1.9rem 5rem;
  border-radius: 5rem;
  cursor: pointer;
  box-shadow: 0 1rem 1.5rem rgba(#000, 0.3);

  &-white {
    background-color: $primary-white;

    &:hover {
      background-color: rgb(221, 220, 220);
    }
  }

  &-pink {
    color: $neutral-pale-cyan;
    background-color: $primary-pink;

    &:hover {
      background-color: hsl(322, 93%, 71%);
    }
  }
}

.main {
  margin: 15rem 9rem 30rem 9rem;
}

.section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 40rem;
  grid-column-gap: 5rem;
  padding: 7rem 3.5rem;
  border: 1px solid $neutral-pale-cyan;
  border-radius: 1rem;
  box-shadow: 0 1rem 1.5rem rgba($primary-black, 0.3);

  &:not(:last-child) {
    margin-bottom: 7rem;
  }

  &-content {
    align-self: center;

    &__heading {
      margin-bottom: 1.5rem;
    }
  }

  &-img {
    max-width: 75%;
    justify-self: center;
    align-self: center;
  }
}

.footer {
  background-color: $neutral-very-dark-cyan;
  padding: 20rem 5rem 9rem 5rem;
  position: relative;

  &-float {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -70%);
    background-color: $primary-white;
    border: 1px solid $neutral-pale-cyan;
    border-radius: 1rem;
    box-shadow: 0 1rem 1.5rem rgba($primary-black, 0.3);
    padding: 5rem 10rem;
    text-align: center;

    &__heading {
      margin-bottom: 3.5rem;
    }
  }

  &__logo {
    filter: brightness(0) invert(1);
    margin-bottom: 3.5rem;
    padding-left: 9rem;
  }
}

.foot {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr;
  grid-column-gap: 3rem;
  color: $neutral-pale-cyan;

  &-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 10rem;

    &__item {
      display: flex;
      gap: 2rem;
    }

    &__img {
      width: 25px;
      height: 25px;
    }
  }

  &-copyright {
    justify-self: center;
    grid-row: 2/3;
    grid-column: 3/4;
    font-size: 1.1rem;
  }

  &-nav {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-column-gap: 5rem;
  }

  &-soc {
    align-self: center;
    justify-self: center;
    list-style: none;
    display: flex;
    gap: 2.5rem;

    &__img {
      padding: 1.5rem;
      border: 1px solid $primary-white;
      border-radius: 100px;
      width: 50px;
      height: 50px;
      fill: $primary-white;

      &:hover {
        border: 1px solid $primary-pink;
        fill: $primary-pink;
      }
    }
  }
}

/* MMedia queries */

@media only screen and (max-width: 1300px) {
  .head {
    &-bot {
      grid-template-columns: 1fr 1fr;
      &__left {
        margin-top: 0;
      }
    }
  }

  .footer {
    &__logo {
      padding-left: 0;
    }
  }

  .foot {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    &-list {
      padding: 0;
    }

    &-nav {
      justify-items: center;
    }
  }

  .section {
    padding: 3.5rem;
  }
}

@media only screen and (max-width: 1150px) {
  .head {
    &-bot {
      grid-template-columns: 1fr;
      grid-template-rows: 2fr;

      &__left {
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 950px) {
  .head {
    padding: 7rem;

    &-top {
      &__logo {
        max-width: 19rem;
      }
    }
  }

  .main {
    margin: 15rem 7rem 35rem 7rem;
  }

  .section {
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr 0.75fr;
    gap: 3.5rem;
    padding: 3.5rem;

    &-content {
      text-align: center;
      align-self: center;
    }

    &:not(:nth-child(2)) &-img {
      grid-row: 1/2;
    }
  }

  .footer {
    padding: 20rem 5rem 9rem 5rem;

    &-float {
      width: 80%;
      padding: 2.5rem 1.5rem;
    }
  }

  .foot {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
    grid-row-gap: 5rem;

    &-list {
      align-self: center;
    }

    &-nav {
      grid-template-columns: 1fr;
      justify-items: start;
      grid-column-gap: 0;
      grid-row-gap: 1.5rem;
    }

    &-soc {
      align-self: center;
    }

    &-copyright {
      justify-self: center;
      grid-row: 4/5;
      grid-column: 1/2;
      font-size: 1.1rem;
    }
  }

  .btn {
    padding: 1.5rem 3.5rem;
  }
}

@media only screen and (max-width: 650px) {
  html {
    font-size: 50%;
  }

  .head {
    padding: 3.5rem;

    &-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2.5rem;
      margin-bottom: 5rem;

      &__logo {
        flex-shrink: 1;
        width: 13rem;
      }
    }
  }

  .main {
    margin: 15rem 3.5rem 35rem 3.5rem;
  }

  .section {
    gap: 4.5rem;
    padding: 4.5rem 2.5rem;
  }

  .btn {
    padding: 1.1rem 2.7rem;
  }

  .footer {
    &-float {
      width: 90%;

      &__heading {
        font-size: 2rem;
      }
    }
  }
}
